html, body {
    height: 100%;
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big-a {
    font-size: larger;
}

.business-header {
    height: 50vh;
    min-height: 300px;
    background: url('../images/japan-diaporama.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.card {
    height: 100%;
}

.inliner {
    display: inline-block;
}

:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 0.7rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 0.8;
    color: #495057;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

.footer {
    width: 100%;
    font-size:85%;
    text-align:center;
    background-color:#f7f7f7
}

.footer a {
    font-weight:500;
    color:#495057
}

.footer a:focus,.footer a:hover {
    color:#007bff
}

.footer p {
     margin-bottom:0
}

.footer-links {
    padding-left:0;
    margin-bottom:1rem
}

.footer-links li {
    display:inline-block
}

.footer-links li+li {
    margin-left:1rem
}

.container {
    width: auto;
    padding: 0 15px;
}

.imgProduct{
    width:200px;
    height:350px;
    margin-left: auto;
    margin-right: auto;
}

.productContent{
    margin:auto;
}

.productCard{
    margin-top: 1.5rem!important;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height:auto;
}

.categoryLabel{
    color:grey;
    margin-bottom : 10px;
}

.productNameLabel{
    margin-bottom : 5px;
}

.itemCard{
    height: auto;
}

.table-shopping-cart {
    border-collapse: collapse;
    width: 100%;
    min-width: 992px;
}

.table-shopping-cart .table-row {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.table-shopping-cart .column-1 {
    width: 225px;
    padding-left: 50px;
}
.table-shopping-cart .column-2 {
    width: 330px;
    padding-right: 30px;
}
.table-shopping-cart .column-3 {
    width: 133px;
    padding-right: 30px;
}
.table-shopping-cart .column-4 {
    width: 355px;
    padding-right: 30px;
}
.table-shopping-cart .column-5 {
    padding-right: 30px;
}

.table-shopping-cart .table-head th {
    font-size: 13px;
    color: #555555;
    line-height: 1.5;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
}

.table-shopping-cart td {
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
    padding-top: 37px;
    padding-bottom: 30px;
}

.table-shopping-cart .table-row .column-2 {
    font-size: 15px;
}

#user{
    margin-top : auto;
    margin-bottom : auto;
    margin-right : 20px;
    color : white;
}

.imgCar{
    width : 150px;
    height: 250px;
}

.error{
    color:red;
}

.required{
    color:red;
}

.legend{
    font-size:10px;
}